*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    
}
.plus-color{
    color: yellow;
    font-weight: 900;
}
.logo p {
    color: white;
    position: relative;
    top:-5px;
}
.search{
    background-color: white;
    padding: 8px;
    width: 420px;
    height: 20px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 110, 255);
    box-shadow: -7px -7px 10px rgba(0,0,0,0.1);
    7px 7px 10px rgba(0,0,0,0.1);
    border-radius: 2px;
}
.search input{
    width: 380px;
    border: none;
    outline: none;
    font-size: 14px;
}
.loginBtn{
    padding: 7px 40px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    outline: none;
    color: #2874f0;
}
.Navlink{
    margin: 0px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.Navlink I{
    font-size: 10px;
}
.container1{
    height: 120px;
    width: 96%;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
   
}
.imagecontainer{
    width: 100px;
    height: 120px;
    background-color: white;
    margin-left: 30px;
    margin-right: 10px;
    
}
.grocerimage{
    background-image: url(images/1.jpg);
    width: 90px;
    height: 80px;
}
.text{
    border: transparent;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 15px;
    width:95px;
    height:30px;
    color: rgb(75, 74, 74);
    font-weight: 600;
}
.ptext{
    
    font-size: 14px;
    margin-left: 15px;
    margin-top: 20px;
    width:95px;
    height:30px;
    color: rgb(75, 74, 74);
    font-weight: 600;
}
.mobileimage{
    background-image: url(images/2.jpg);
    width: 90px;
    height: 80px;
}
.fashionimage{
    background-image: url(images/3.jpg);
    width: 90px;
    height: 80px;
}
.electronicimage{
    background-image: url(images/4.jpg);
    width: 90px;
    height: 80px;
}
.homeimage{
    background-image: url(images/5.jpg);
    width: 90px;
    height: 80px;
}
.applianceimage{
    background-image: url(images/6.jpg);
    width: 90px;
    height: 80px;
}
.travelimage{
    background-image: url(images/7.jpg);
    width: 90px;
    height: 80px;
}
.beautyimage{
    background-image: url(images/8.jpg);
    width: 90px;
    height: 80px;
}
.wheelerimage{
    background-image: url(images/9.jpg);
    width: 90px;
    height: 80px;
}
.text1{
    font-size: 14px;
    border: transparent;
    margin-top: 15px;
    width:135px;
    height:30px;
    color: rgb(75, 74, 74);
    font-weight: 600;
}
.text3{
    font-size: 14px;
    border: transparent;
    margin-top: 15px;
    width:120px;
    height:30px;
    color: rgb(75, 74, 74);
    font-weight: 600;
}
.text2{
    font-size: 14px;
  border: transparent;
    margin-top: 15px;
    width:140px;
    height:30px;
    color: rgb(75, 74, 74);
    font-weight: 600;
}
.container2{
    height: 200px;
    width: 97%;
    margin-left: 40px;
}
.container3{
    height: 50px;
    width: 97%;   
}
.p-img{
    width: 90px;
    height: 80px;
}
h2{
    margin-left: 30px;
    margin-top: 20px;
}
h3{
    height: 25px;
    width: 180px;
    margin-left: 50px;
}
h4{
    height: 25px;
    width: 180px;
    margin-left: 75px;
    color: rgb(108, 185, 108);
}
h5{
    height: 25 px;
    width: 180px;
    margin-left: 50px;
    color: grey;
    font-size: small;
}
.section3{
    display:flex;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.electronics{
    
    height: 350px;
    width: 80%;
    background-color: white;
    padding: 15px;
    margin-left: 20px;

}
.insideelectronics{
    display: flex;
    height: 250px;
    width: 80%;
    background-color: white;
    padding: 15px;
    margin-left: 20px;
    justify-content: space-evenly;
    justify-content: space-between;

}
.card{
    height: 260px;
    width: 240px;
    border-radius: 8px;
    border: 1px solid grey ;
    margin-left: 10px;
    margin-right: 10px;
    
}

.cardimg1{
    height:176px;
    width: 164px;
    background-image: url(images/10.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg2{
    height:175px;
    width: 178px;
    background-image: url(images/11.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg3{
    height:174px;
    width: 170px;
    background-image: url(images/12.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg4{
    height:169px;
    width: 178px;
    background-image: url(images/13.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg5{
    height:165px;
    width: 168px;
    background-image: url(images/14.jpg);
    background-size: contain;
    margin-left: 10px;
}
.card h4{
 font-size: 14px;
 text-align: center;
 margin-bottom: 0px;
 font-weight: 100;
}
.card h3{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


.toys{
    
    height: 350px;
    width: 94%;
    background-color: white;
    padding: 15px;
    margin-left: 20px;

}

.cardimg6{
    height:165px;
    width: 168px;
    background-image: url(images/16.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg7{
    height:165px;
    width: 168px;
    background-image: url(images/17.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg8{
    height:165px;
    width: 168px;
    background-image: url(images/18.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg9{
    height:165px;
    width: 168px;
    background-image: url(images/19.jpg);
    background-size: contain;
    margin-left: 10px;
}
.cardimg10{
    height:165px;
    width: 168px;
    background-image: url(images/20.jpg);
    background-size: contain;
    margin-left: 10px;
}
/* .cardimg11{
    height:165px;
    width: 168px;
    background-image: url(images/20.jpg);
    background-size: contain;
    margin-left: 10px;
} */